.game-info {

    text-transform: capitalize;
    font-size: large;
    padding: 0 4rem;
    padding-bottom: 3rem;
    margin: 0 4rem;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: space-between;
       
}