.game-questions {

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 3rem;
    padding: 0 4rem;
  
    &__buttons {
  
      flex-grow: 4;
      text-align: center;
      text-transform: uppercase;
      background-color: $colour-2;
      color: white;
      font-weight: 800;
      letter-spacing: 0.5rem;
      height: 65px;
      width: 230px;
      border: solid black 3px;
      border-radius: 6rem;
      margin: 2rem 2rem;
      padding-top: 1.1rem;
      outline: none !important;

      &:hover{
        outline: none;
      }

      &__green{
        color: green;
        background-color:white;
        font-weight: 900;
        border: solid green 3px;
      }

      &__red{
        color: red;
        background-color: white;
        font-weight: 900;
        border: solid red 3px;
      }
    } 
  }